In [1]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/src/data/rez_sample_04ALL/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0,-1.0,-1.0000,0.8615,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
00002,-1.0000,NaN,9.9475,10.4525,10.0180,-1.0000,-1.0000,10.2620,10.3235,-1.0,-1.0,10.2830,9.9420,10.2435,-1.0000,10.2635,9.9335,9.9660,-1.0000,9.9865
00003,-1.0000,10.9065,NaN,11.3025,10.9345,-1.0000,-1.0000,11.2805,11.2640,-1.0,-1.0,11.3635,11.0170,11.3710,-1.0000,11.4085,10.9300,10.9970,-1.0000,10.9570
00004,-1.0000,9.4630,9.4950,NaN,9.5565,-1.0000,-1.0000,9.7955,9.7655,-1.0,-1.0,9.8095,9.5175,9.7815,-1.0000,9.8035,9.4795,9.5110,-1.0000,9.4635
00005,-1.0000,10.0860,10.1140,10.3275,NaN,-1.0000,0.8135,10.1805,10.2535,-1.0,-1.0,10.2485,10.1760,10.3665,-1.0000,10.2820,10.1165,10.1395,-1.0000,10.0825
00006,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,NaN,-1.0000,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
00007,-1.0000,-1.0000,-1.0000,-1.0000,0.4720,-1.0000,NaN,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
00008,-1.0000,9.7450,9.8900,10.0735,9.8420,-1.0000,-1.0000,NaN,9.7400,-1.0,-1.0,9.7650,9.8015,9.7765,-1.0000,9.7430,9.7670,9.8735,-1.0000,9.8130
00009,-1.0000,10.1005,10.5535,10.4060,10.2635,-1.0000,-1.0000,10.1240,NaN,-1.0,-1.0,10.1910,10.2285,10.2395,-1.0000,10.2265,10.1200,10.2065,-1.0000,10.1340
00010,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,0.9455,-1.0000,-1.0000,-1.0000,NaN,-1.0,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
00011,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0,NaN,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000
00012,-1.0000,10.3140,10.1695,10.4195,10.6835,-1.0000,-1.0000,10.2120,10.2760,-1.0,-1.0,NaN,10.3620,10.3700,-1.0000,10.3870,10.3695,10.2670,-1.0000,10.3215
00013,0.8875,10.4175,10.6145,10.9270,10.4980,-1.0000,-1.0000,10.7525,10.7475,-1.0,-1.0,10.7620,NaN,10.8135,-1.0000,10.7680,10.5840,10.5085,-1.0000,10.4640
00014,-1.0000,11.4980,11.5080,11.6810,11.9570,-1.0000,-1.0000,11.4930,11.5860,-1.0,-1.0,11.5930,11.5280,NaN,-1.0000,11.6010,11.6115,11.6280,-1.0000,11.5965
00015,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.0000,-1.0000,NaN,-1.0000,0.2785,-1.0000,-1.0000,-1.0000
00016,-1.0000,10.2270,10.4660,10.6580,10.2705,-1.0000,-1.0000,10.3080,10.2275,-1.0,-1.0,10.2835,10.2965,10.2500,-1.0000,NaN,10.3265,10.1765,-1.0000,10.3055
00017,-1.0000,11.3925,11.3860,11.7565,11.5080,-1.0000,-1.0000,11.8130,11.7455,-1.0,-1.0,11.8280,11.4455,11.7485,1.9065,11.7925,NaN,11.5680,2.0435,11.5275
00018,-1.0000,10.9560,11.1745,11.2860,10.9490,-1.0000,-1.0000,11.1935,11.4125,-1.0,-1.0,11.3690,10.9780,11.3515,-1.0000,11.3235,11.1295,NaN,-1.0000,11.0140
00019,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.0000,-1.0000,-1.0000,-1.0000,0.3835,-1.0000,NaN,-1.0000
00020,-1.0000,9.7690,9.8120,10.0855,10.0890,-1.0000,-1.0000,10.1215,10.0810,-1.0,-1.0,10.0880,9.8025,10.0825,-1.0000,10.1015,9.8155,9.8450,-1.0000,NaN

In [2]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001       -1.0       00002
00002       -1.0       00001
00003       -1.0       00001
00004       -1.0       00001
00005       -1.0       00001
00006       -1.0       00001
00007       -1.0       00001
00008       -1.0       00001
00009       -1.0       00001
00010       -1.0       00001
00011       -1.0       00001
00012       -1.0       00001
00013       -1.0       00006
00014       -1.0       00001
00015       -1.0       00001
00016       -1.0       00001
00017       -1.0       00001
00018       -1.0       00001
00019       -1.0       00001
00020       -1.0       00001

In [3]:
tbl3 = tbl1
cols = ['00001', '00002', '00003', '00004', '00005', '00006', '00007', 
        '00008', '00009', '00010', '00011', '00012', '00013', '00014', 
        '00015', '00016', '00017', '00018', '00019', '00020']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001               0
00002               0
00003               0
00004               0
00005               0
00006               0
00007               0
00008               0
00009               0
00010               0
00011               0
00012               0
00013               0
00014               0
00015               0
00016               0
00017               0
00018               0
00019               0
00020               0