In [1]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/home/xternava/Documents/GitHub/Incremental-build/data/rez_sample_03ALL/'
#path = '/src/data/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,37.362,37.337,37.433,37.369,37.382,37.416,37.424,37.375,37.463,37.326,37.359,37.462,37.605,37.442,37.463,37.428,37.406,37.563,37.430
00002,38.356,NaN,37.980,37.729,38.013,37.675,37.901,37.749,38.083,37.793,37.858,37.812,40.225,38.027,37.918,37.797,37.768,37.769,37.875,37.756
00003,33.924,33.796,NaN,33.828,33.802,33.861,33.932,33.863,33.884,33.988,33.812,33.869,36.050,34.209,34.001,33.909,33.942,33.874,33.964,33.900
00004,69.125,69.336,69.124,NaN,69.117,69.212,69.182,69.010,69.067,69.182,69.211,69.163,69.164,69.528,69.280,69.202,69.159,69.240,69.395,69.341
00005,37.363,37.293,37.330,37.265,NaN,37.267,37.432,37.365,37.301,37.376,37.270,37.352,37.395,39.123,37.413,37.440,37.461,37.331,37.322,37.360
00006,65.324,65.186,65.110,64.953,65.056,NaN,65.151,65.154,65.173,65.272,65.047,65.049,65.096,67.072,65.300,65.184,65.139,65.218,65.019,65.216
00007,20.994,20.944,20.963,20.846,20.972,20.955,NaN,20.929,21.001,21.003,20.875,20.923,20.953,21.094,21.025,21.076,20.973,20.960,21.010,20.979
00008,20.533,20.302,20.297,20.241,20.265,20.295,20.364,NaN,20.245,20.368,20.319,20.379,20.280,20.491,20.439,20.387,20.294,20.346,20.389,20.253
00009,65.721,65.229,65.255,65.458,65.198,65.417,65.448,65.383,NaN,65.383,65.127,65.263,65.199,65.655,65.445,65.381,65.378,65.553,65.358,65.267
00010,31.838,31.791,31.730,31.845,31.686,31.657,31.717,31.689,31.771,NaN,31.773,31.804,31.809,33.458,31.863,31.750,31.718,31.793,31.822,31.849
00011,64.878,64.608,64.447,64.751,64.467,64.627,64.854,64.547,64.579,64.613,NaN,64.602,64.661,64.796,64.884,64.685,64.684,64.576,64.540,64.667
00012,37.279,37.183,37.194,37.174,37.313,37.169,37.406,37.230,37.171,37.265,37.152,NaN,37.167,38.444,37.272,37.334,37.373,37.175,37.276,37.245
00013,20.264,20.246,20.173,20.229,20.166,20.268,20.201,20.204,20.224,20.229,20.207,20.193,NaN,20.302,20.455,20.309,20.227,20.178,20.361,20.215
00014,17.675,17.627,17.632,17.666,17.651,17.631,17.607,17.661,17.541,17.621,17.593,17.559,17.601,NaN,17.704,17.635,17.628,17.600,17.669,17.658
00015,33.407,33.375,33.268,33.321,33.295,33.261,33.364,33.241,33.268,33.378,33.252,33.281,33.398,34.705,NaN,33.372,33.330,33.361,33.276,33.349
00016,18.225,18.114,18.173,18.099,18.100,18.128,18.224,18.105,18.155,18.227,18.127,18.135,18.185,18.351,18.193,NaN,18.174,18.188,18.098,18.156
00017,40.042,39.977,40.119,39.912,39.927,39.972,40.395,39.804,40.127,39.871,39.911,39.890,39.971,40.264,40.078,39.921,NaN,40.169,40.027,39.963
00018,18.777,18.677,18.690,18.661,18.791,18.662,18.712,18.731,18.618,18.766,18.704,18.700,20.106,18.900,18.733,18.761,18.718,NaN,18.815,18.757
00019,34.569,34.465,34.349,34.412,34.353,34.339,34.392,34.384,34.349,34.402,34.339,34.357,34.491,34.710,34.589,34.503,34.520,34.405,NaN,34.467
00020,37.326,37.240,37.171,37.170,37.277,37.202,37.187,37.229,37.209,37.205,37.074,37.148,37.248,39.167,37.252,37.184,37.182,37.154,37.158,NaN

In [2]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001     37.326       00011
00002     37.675       00006
00003     33.796       00002
00004     69.010       00008
00005     37.265       00004
00006     64.953       00004
00007     20.846       00004
00008     20.241       00004
00009     65.127       00011
00010     31.657       00006
00011     64.447       00003
00012     37.152       00011
00013     20.166       00005
00014     17.541       00009
00015     33.241       00008
00016     18.098       00019
00017     39.804       00008
00018     18.618       00009
00019     34.339       00006
00020     37.074       00011

In [3]:
tbl3 = tbl1
cols = ['00001', '00002', '00003', '00004', '00005', '00006', '00007', 
        '00008', '00009', '00010', '00011', '00012', '00013', '00014', 
        '00015', '00016', '00017', '00018', '00019', '00020']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001               2
00002              19
00003               0
00004              19
00005               1
00006              19
00007               0
00008               0
00009              19
00010               0
00011              19
00012               1
00013               0
00014               0
00015               0
00016               0
00017              19
00018               0
00019               0
00020               1