In [1]:
import pandas as pd
import numpy as np

# Will show the clean build time and the executable's binary size for all system's configurations
path = '/src/data/rez_sample_03ALL/'
df1 = pd.read_csv(path + 'clean-bt.csv', converters={'BranchC': lambda x: str(x)})
df2 = pd.read_csv(path + 'i_data_frame.csv', converters={'Br2': lambda x: str(x)})

df1 = df1.rename(columns = {"BranchC": "Branch", "Build Time": "Clean Build Time"})
df2 = df2.rename(columns = {"Br2": "Branch"})

df2 = pd.DataFrame(data=df2)

pd.set_option("display.max_columns", None)
df2 = df2.set_index("Branch")

df2
#df3 = pd.merge(df1, df2) 
#df3.round(decimals=2)

,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,00011,00012,00013,00014,00015,00016,00017,00018,00019,00020
Branch,,,,,,,,,,,,,,,,,,,,
00001,NaN,12.8395,-1.0,12.5385,-1.0000,-1.0,-1.0,12.6185,-1.000,-1.000,-1.0,12.4605,-1.0000,-1.0,12.4260,-1.0,-1.000,11.4335,-1.0,11.6475
00002,10.9520,NaN,-1.0,11.0000,-1.0000,-1.0,-1.0,11.3640,-1.000,-1.000,-1.0,11.1065,-1.0000,-1.0,11.8520,-1.0,-1.000,10.2835,-1.0,10.3605
00003,-1.0000,-1.0000,NaN,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00004,11.3420,11.6010,-1.0,NaN,-1.0000,-1.0,-1.0,12.7880,-1.000,-1.000,-1.0,11.7335,-1.0000,-1.0,11.8470,-1.0,-1.000,10.7215,-1.0,10.7265
00005,-1.0000,-1.0000,-1.0,-1.0000,NaN,-1.0,-1.0,-1.0000,-1.000,0.399,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00006,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,NaN,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00007,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,NaN,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00008,12.0075,12.6135,-1.0,12.3040,-1.0000,-1.0,-1.0,NaN,1.348,-1.000,-1.0,12.3560,-1.0000,-1.0,12.2145,-1.0,-1.000,11.2760,-1.0,11.5235
00009,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,0.4235,NaN,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00010,-1.0000,-1.0000,-1.0,-1.0000,0.8695,-1.0,-1.0,-1.0000,-1.000,NaN,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00011,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,NaN,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00012,10.6270,11.2350,-1.0,11.3230,-1.0000,-1.0,-1.0,11.4415,-1.000,-1.000,-1.0,NaN,-1.0000,-1.0,11.1230,-1.0,-1.000,10.0605,-1.0,10.3240
00013,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,NaN,-1.0,-1.0000,-1.0,0.607,-1.0000,-1.0,-1.0000
00014,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,NaN,-1.0000,-1.0,-1.000,-1.0000,-1.0,-1.0000
00015,11.0965,11.6475,-1.0,11.7670,-1.0000,-1.0,-1.0,11.7270,-1.000,-1.000,-1.0,11.6345,-1.0000,-1.0,NaN,-1.0,-1.000,10.6535,-1.0,10.7795
00016,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,NaN,-1.000,-1.0000,-1.0,-1.0000
00017,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,0.9615,-1.0,-1.0000,-1.0,NaN,-1.0000,-1.0,-1.0000
00018,11.1255,11.8615,-1.0,11.4625,-1.0000,-1.0,-1.0,11.3600,-1.000,-1.000,-1.0,11.2820,-1.0000,-1.0,11.3190,-1.0,-1.000,NaN,-1.0,10.6740
00019,-1.0000,-1.0000,-1.0,-1.0000,-1.0000,-1.0,-1.0,-1.0000,-1.000,-1.000,-1.0,-1.0000,-1.0000,-1.0,-1.0000,-1.0,-1.000,-1.0000,NaN,-1.0000
00020,10.9585,11.0255,-1.0,10.9245,-1.0000,-1.0,-1.0,12.1930,-1.000,-1.000,-1.0,10.9895,-1.0000,-1.0,11.2745,-1.0,-1.000,10.2980,-1.0,NaN

In [2]:
# The Minimum build time (col: Min Time) and 
# its corresponding configuration (col: Clean Build) 
# for each incremental build (col: Br2)

tbl1 = df2
tbl1["Clean Build"] = tbl1.idxmin(axis=1)
tbl1["Min Time"] = tbl1.min(axis=1)
tbl2 = tbl1[["Min Time", "Clean Build"]]
tbl2

        Min Time Clean Build
Branch
00001       -1.0       00003
00002       -1.0       00003
00003       -1.0       00001
00004       -1.0       00003
00005       -1.0       00001
00006       -1.0       00001
00007       -1.0       00001
00008       -1.0       00003
00009       -1.0       00001
00010       -1.0       00001
00011       -1.0       00001
00012       -1.0       00003
00013       -1.0       00001
00014       -1.0       00001
00015       -1.0       00003
00016       -1.0       00001
00017       -1.0       00001
00018       -1.0       00003
00019       -1.0       00001
00020       -1.0       00003

In [3]:
tbl3 = tbl1
cols = ['00001', '00002', '00003', '00004', '00005', '00006', '00007', 
        '00008', '00009', '00010', '00011', '00012', '00013', '00014', 
        '00015', '00016', '00017', '00018', '00019', '00020']

tbl3['GreaterThanCB'] = tbl3[cols].gt(37.48).sum(axis=1)
tbl3[["GreaterThanCB"]]

        GreaterThanCB
Branch
00001               0
00002               0
00003               0
00004               0
00005               0
00006               0
00007               0
00008               0
00009               0
00010               0
00011               0
00012               0
00013               0
00014               0
00015               0
00016               0
00017               0
00018               0
00019               0
00020               0